* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

header {
  margin-left: 25%;
  width: 900px;
  height: 100px;
}

header img {
  height: 100px;
  float: left;
}

header, a {
  text-decoration: none;
}

.menu {
  margin-right: 4px;
  margin-top: 50px;
  float: right;
  font-size: 20px;
}

section {
  margin-left: 25%;
  width: 900px;
/*  height: 800px;*/
  height: auto;
}

footer {
  height: 50px;
  margin-left: 25%;
  width: 900px;
}

.copy {
  margin-left: 25%;
  font-style: oblique;
}

table tr td img{
  border: 1px;
  width: 220px;
}

p, li, form{
  font-family: 'Lora', serif;
}

label {
  font-size: 20px;
}

form, input, textarea {
  margin-bottom: 10px;
}

.fotoPais {
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 4px;
  width: 218px;
  heigth: 176px;
  border-radius: 5%;
}
